python-docx>=1.1.0
sentence-transformers>=3.0.0
pinecone>=5.0.0
streamlit>=1.38.0
groq
numpy>=1.26.0
langgraph
langchain-core
langchain-groq
langgraph
langchain-core
langchain-groq
pypdf
langchain-experimental
langchain-huggingface
